nav {
    background-color: #f0f0f0;
    padding: 10px;
  }
  nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
  }
  nav a:hover {
    text-decoration: underline;
  }

  .active-nav-link {
    font-weight: bold;
    text-decoration: underline;
  }

  form {
      margin: auto;
      width: fit-content;
  }
  input {
      margin: 5px;
  }
  /* Styling for flash messages */
  .flash {
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #ddd;
      color: #555;
  }
  .flash.success {
      background: #d4edda;
      color: #155724;
  }
  .flash.info {
      background: #cce5ff;
      color: #004085;
  }
  /* Add this new style */
  .form-container {
      display: flex;
      justify-content: space-between; /* Optional: Adds space between the forms */
  }
