nav {
    background-color: #f0f0f0;
    padding: 10px;
  }
  nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
  }
  nav a:hover {
    text-decoration: underline;
  }

  .active-nav-link {
    font-weight: bold;
    text-decoration: underline;
  }
  