{% extends "base.html" %}
{% block title %}Modify Bodyweight Entries{% endblock %}
{% block extra_scripts %}
{% endblock %}
{% block content %}
<h1>Modify Bodyweight Entry</h1>
<form method="POST">
    <label for="date">Date:</label><br>
    <input type="date" id="date" name="date" value="{{ entry.date }}" required><br>
    <label for="bodyweight">Bodyweight (in kg):</label><br>
    <input type="number" id="bodyweight" name="bodyweight" value="{{ entry.bodyweight }}" required step="0.1"><br>
    <input type="submit" value="Update">
</form>
{% endblock %}
